@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}
body 
{
    width: 100%;
    display: table;
}
.cont {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    gap: clamp(20px, 5vw, 200px);
    align-items: center;
    background: #F9F9FB;
}

.logo_cont {
    padding: 40px;

}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #F9F9FB;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(200px, 60vw, 800px);
}

.title h2 {
    text-align: center;
    font-weight: 600;
    font-size: clamp(32px, 3vw, 60px);
}

.auth {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.auth h2 {
    text-align: center;
    font-weight: 600;
    font-size: clamp(20px, 2vw, 40px);
}

.title_logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.logo {
    width: 40px;
}

.nickname {
    color: #064BB4;
    font-weight: 750;
    letter-spacing: 1.3px;
    cursor: pointer;
}

.nickname_min {
    font-weight: 400;
    letter-spacing: 1.3px;
    cursor: pointer;
}

button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

button:hover {
    background: #c4e201;
}

button>svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}

button:hover svg {
    transform: translateX(5px);
}

button:active {
    transform: scale(0.95);
}


@media (max-height: 800px) {
    .cont {
        position: relative;
        height: 800px;
    }
}